.overlay_badge
  %img{ :src => '/images/badges/2.jpg' }
  .text
    %h2 Complete!
    %p
      You just created <strong>your first conversation</strong>.
      That's a great start!
    %p
      Use conversations as a smart replacement of emails.
  .clear
